{% extends "gitlight/base.html" %}

{% block title %}
    <title>GitLight - Home</title>
{% endblock %}

{% block body %}
<h1>Welcome to the GitLight Skeleton!</h1>

<pre>
This is a *very* new project. At this point, very little attention is being paid
to the web interface beyond functionality and clean data. Are you good with Flask
theming? Are you a good web dev? How about python3?

If you're interest in helping this project take flight, please check out our
project on <a href="https://github.com/gitlight/">GitHub</a>!

Just how new is this project?
... Here are some of the (and not-yet) supported links:

- <a href="/login">Log In</a>
- <a href="/logout">Log Out</a>
- <a href="/ping">Message Queue: Ping</a>
- <a href="/repos">Repositories</a>
</pre>
{% endblock %}
